html,
body {
   min-width: 960px;
   /* min-height: 1750px;   убрал пока эту херню непонятно зачем вообще нужную - страничка прайс из за min-height была длиннее нормы */
  
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: 'PT Sans Narrow', "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  
  background: #000000 url("../img/background.jpg") no-repeat center top;
}

.innerpage {
  background: #f8f5f2 url("../img/background-light.png");
  color: black;
}

h1 {     /*ОНИ ТИПА НЕ РЕКОМЕНДУЮТ ТАК ДЕЛАТЬ... СНАЧАЛА ЕЩЁ КЛАСС ТИПА .INNER-PAGE H2 НО ПОМОЕМУ ХЕРНЯ ВСЮДУ Ж ЕСТЬ И ОДИНАКОВЫЕ ТАЙТЛЫ*/
  font-size: 30px;
  line-height: 42px;
}

h2 {     /*ОНИ ТИПА НЕ РЕКОМЕНДУЮТ ТАК ДЕЛАТЬ... СНАЧАЛА ЕЩЁ КЛАСС ТИПА .INNER-PAGE H2 НО ПОМОЕМУ ХЕРНЯ ВСЮДУ Ж ЕСТЬ И ОДИНАКОВЫЕ ТАЙТЛЫ*/
  font-size: 24px;
  line-height: 28px;
}

.inner-page-title h1 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}




.main-header {
  margin-bottom: 60px;
  
  color: white;  /*ХОТЯ КАЗАЛОСЬ НА ИНДЕКСЕ ЧТО ЭТО НЕ ОБЯЗАТЕЛЬНО НО ПО ФАКТУ ТАК ПРОЩЕ БУДЕТ ЕСЛИ НАДА МЕНЯТЬ ЦВЕТ BODY КАК НАПРИМЕР ТУТ */
  
  background: black;
}


.innerpage .main-header {
  margin-bottom: 55px; /*я это не заметил*/
}


.main-navigation a {
  display: block;
  padding: 25px 20px;
  
  color: white;
  text-decoration: none;
}



.main-navigation a:hover {
  background: #242424;
}

.main-navigation .current_page a:hover {
  background: black;
}

.main-navigation .current_page::after { /*ВОТ ТУТ Я НЕ СРАЗУ СООБРАЗИЛ ЧТО НАДА ЗАЮЗАТЬ ЦЕНТРОВКУ ТИПА ЧЕРЕЗ СРАЗУ УКАЗАТЬ И ЛЕФТ И РАЙТ!!! зная паддинги! тогда будет ровно КАК ТЕКСТ ПО ШИРИНЕ!!!!*/
  position: absolute;
  bottom: 0px;
  left: 20px;
  right: 20px;
  
  content: "";
  
  display: block;
  height: 3px;
  background: white;
}



.main-navigation ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  position: relative;
  vertical-align: top;
  
  font-size: 16px;
  line-height: 20px;
}



.main-navigation .logo-inner {
  float: left;
  width: 111px;
  height: 20px;
  padding-top: 22px;
}

.main-navigation .logo-inner:hover {
  background: none;
}


.user-block {
  float: right;
  max-width: 140px;
  text-align: right;
}

.login {
  position: relative;
  
  display: inline-block;
  vertical-align: top;
  padding: 25px 20px 25px 50px;
  
  
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-decoration: none;
}

.login:hover {
  background: #242424;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px; 
  
  width: 18px;
  height: 18px;
  
  background: transparent url("../img/sprite.png") no-repeat -20px 0px;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px; /*для того ставим 10 чтоб не прилипало меню если чо к краю экрана! */  
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
  
.main-navigation {
  width: 780px;
  float: left;
}
  
.user-block {
  width: 140px;
  float: right;
}

.index-logo {
  width: 368px;
  height: 204px;  /* сделали потому что после img ИДЁТ ПРОБЕЛ чтоб не было пустого места после картинки!! */
  margin: 0 auto;
  margin-bottom: 25px;
}

.index-logo img {
  width: 368px;
  height: 204px;  
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}

.features-item:last-child {
  margin-right: 0px;
}

.features-name {
  position: relative;
  
  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px; /*сделано для ромбика чтоб он тут был*/
  
  font-size: 30px;
  line-height: 42px;
}

.features-item p {
  margin: 10px;
  margin-bottom: 0px;
}

.features-name::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  
  content: "";
  
  display: block;
  width: 20px;
  height: 20px;
  background: white;
  transform: rotate(45deg);
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  
  color: black;
  
  background: url("../img/background-light-shadow.png") no-repeat center, #f8f5f2 url("../img/background-light.png");
}

.index-content-left {
  float: left;
  width: 380px; /* так сделано потому что нижняя часть с контактной инфой дизайнер нарисовал тайтл длинный - так то по уму тут нада 300 */
}

.index-content-right {
  float: right;
  width: 300px;  
}

.index-content-title {
  font-size: 30px;
  line-height: 42px;
  
  margin: 0px;
  margin-bottom: 25px;
}

.index-content p {
  margin: 0px;
  margin-bottom: 25px;
  
}

.news-preview {
  margin: 0px;
  padding: 0px;
  padding-right: 50px; /* интересно что у него было тут 35!! */
  list-style: none;
}

.news-preview p {
  margin-bottom: 0px;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview time {
  text-transform: none;
  font-weight: normal;
}

.btn {
  display: inline-block;
  margin-right: 16px; /* потому что там между кнопками пробелы (инлайн-блок же и не убрать их нормально) а нужно в сумме 16+4 (2 спейса) = 20 */ 
  padding: 10px 33px;
  
  font-weight: 700; /* для элементов форм! от body не наследуются они поэтому нужно прописывать отдельно!! */
  font-size: 14px;
  line-height: 24px;
  font-family: 'PT Sans Narrow', "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  
  background-color: black;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background: #663d15;
}

.btn.disabled, /* соверует прописывать хоть нету в стайл гайде! */
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover  {
  background: black;
}

.gallery {
  position: relative;
  
  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0; 
  
  background: gray; /* если пикча не загрузится */
  border: 7px solid white;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;
  
  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form input {
  float: left;
  width: 106px; /*можно было проще считать BOX-SIZING заюзать!*/
  padding: 7px 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  
  font: inherit; /* форма сука текст иначе не видит ТУТ БОЛЕЕ ЧОТКИЙ ВАРИАН ОПИСАН ЧЕМ КОПИПАСТ ТУПОЙ!!! INHERIT!! */
  color: inherit;
  text-transform: inherit;
  
  background: #f9f6f3;
  border: 2px solid black;
  outline: none;
}

.appointment-form input:nth-child(even) { /*у чотных сбросили право чтоб влазило в строку!!*/
  margin-right: 0;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}

.appointment-form input:hover {
  border: 2px solid #663d15;
}



.item-gallery,
.item-details {
  float: left;
  width: 460px;
  padding: 0px;
  box-sizing: border-box;
}

.item-gallery {
  font-size: 0px;
}

.item-details {
  padding-top: 20px;
  padding-left: 90px;
}

.item-gallery img {
  margin: 10px;
  /*box-shadow: 0px 0px 10px 5px #d4d2d0;*/
  filter: drop-shadow(0px 0px 7px #7f7e7e)
}

.item-gallery img:first-of-type {
  margin-left: 0;
  margin-right: 0;
}

.item-gallery img:nth-of-type(2) {
  margin-left: 0;
}

.item-gallery img:nth-of-type(4) {
  margin-right: 0;
}

.item-heading {
  margin-bottom: 50px;
}


.search-form fieldset {
  padding-left: 0px;
  border: none;
}

.search-form legend {
  margin-bottom: 25px;
  font-size: 24px;  
}

.label-checkbox {
  display: block;
  position: relative;
  margin-bottom: 20px;
  margin-left: 45px;
  
  line-height: 20px;
}

.label-checkbox:last-of-type {
  margin-bottom: 50px;
}

.search-form input[type=checkbox] {
  display: none;
}

.checkbox-custom { /*ТУТ НУЖЕН ЛЕВЫЙ СЛОЙ DIV ПУСТОЙ ПОТОМУ ЧТО ЧТОБ КРЕСТИК ВНУТРИ РИСОВАТЬ НУЖНО 2 СЛОЯ (ЮЗАЕМ ПСЕВДОЭЛЕМЕНТЫ ОБА И BEFORE / AFTER!!!) ИТОГО БЕЗ ЭТОГО НЕ ВЛЕЗЕТ!!!*/
  position: absolute;
  left: -45px;
  top: -2px;
  
  content: "";
  
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid black;
}



.search-form input[type="checkbox"]:not([disabled]):checked + .label-checkbox::after,
.search-form input[type="checkbox"]:not([disabled]):checked + .label-checkbox::before {
  position: absolute;
  top: 8px;
  left: -43px;
  
  content: "";
  
  display: block;  
  width: 20px;
  height: 2px;
  background: black;
  transform: rotate(45deg); /*ВАЩЕ МОЖНО БЫЛО NOT-DISABLED НЕ ПРОПИСЫВАТЬ ТУТ ТАК КАК НИЖЕ ДЛЯ ДИСЭЙБЛЕДОВ РАССМОТРИМ СТИЛИ, НО ТУТ ОСТАВИЛ КАК ПРИМЕР!!!!*/
}

.search-form input[type="checkbox"]:not([disabled]):checked + .label-checkbox::before {
  transform: rotate(-45deg); 
}

.search-form input[type="checkbox"]:not([disabled]) + .label-checkbox:hover {
  color: #663d15;
  cursor: pointer;
}


.search-form input[type="checkbox"]:disabled + .label-checkbox {
  color: #adaba9;
}


.search-form input[type="checkbox"]:disabled:checked + .label-checkbox .checkbox-custom {
  border-color: #adaba9;
}

.search-form input[type="checkbox"]:disabled:checked + .label-checkbox::after,
.search-form input[type="checkbox"]:disabled:checked + .label-checkbox::before {
  position: absolute;
  top: 10px;
  left: -43px;
  
  content: "";
  
  display: block;  
  width: 20px;
  height: 2px;
  background: #adaba9;
  transform: rotate(45deg);
}

.search-form input[type="checkbox"]:disabled:checked + .label-checkbox::after {
  transform: rotate(-45deg);
}

.label-radio {
  display: block;
  position: relative;
  margin-bottom: 20px;
  margin-left: 45px;
  
  line-height: 20px;
}

.label-radio:last-of-type {
  margin-bottom: 50px;
}

.search-form input[type=radio] {
  display: none;  
}

.label-radio::before {  /*ТУТ НЕ НУЖЕН DIV ПУСТОЙ ПОТОМУ ЧТО СИСЬКУ ПОСТАВИТЬ В ЦЕНТР ХВАТИТ 1ГО СЛОЯ!!!*/
  position: absolute;
  top: -2px;
  left: -45px;
  
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  border: 2px solid black;
  
  content: "";
}

.search-form input[type=radio]:disabled + .label-radio,
.search-form input[type=radio]:disabled + .label-radio::before {
  color: #adaba9;
  border-color: #adaba9;
}

.search-form input[type=radio]:checked + .label-radio::after {
  position: absolute;
  top: 6px;
  left: -37px;
  
  content: "";
  
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  border: 2px solid black;
  background: black;
}


.search-form input[type=radio]:disabled:checked + .label-radio,
.search-form input[type=radio]:disabled:checked + .label-radio::before {
  color: #adaba9;
  border-color: #adaba9;
}

.search-form input[type=radio]:disabled:checked + .label-radio::after {
  border-color: #adaba9;
  background: #adaba9;  
}

.label-radio:hover {
  color: #663d15;
  cursor: pointer;  
}

.search-form btn {
  margin-left: 0px;
}

.item-stock {
  display: block;
  float: left;
  margin: 10px 0px 20px;
}

.item-code {
  display: block;
  float: right;
  margin: 10px 0px 20px;
  
  color: #aba9a7;
}

.item-desc {
  margin-bottom: 40px;
}

.price_buy {
  margin-bottom: 60px;
  font-size: 0;
}

.item-price {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 30px;
  background: #e5e5e5;
  min-width: 55px;
  
  font-size: 14px;
}

.item-buy {
  padding: 10px 15px;  
}

.item-details ul {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.item-details ul li {
  position: relative;
  margin-left: 20px;
}

.item-details ul li::before {
  position: absolute;
  top: 8px;
  left: -17px;
  
  display: block;
  width: 7px;
  height: 7px;
  background: black;
  transform: rotate(45deg);
  content: "";
}



.shop-navigation,
.shop-items_n_pages {
  float: left;
}

.shop-navigation {
  width: 230px;
}

.shop-items {
  width: 710px;
}

.shop-items-item {
  position: relative;
  float: left;
  width: 220px;
  min-height: 290px;
  margin: 10px;
  
  background: white;
  filter: drop-shadow(0px 0px 7px #7f7e7e);
}

.shop-items-item:nth-child(3),
.shop-items-item:nth-child(6) {
  margin-right: 0px;
}

.item-pic {
  max-height: 165px;
}

.item-name {
  margin: 10px 15px ;
}

.item-name a {
  font-size: 14px;
  line-height: 18px;
  color: black;
}

.item-name-type {
  text-transform: none;
}

.item-price_buy {
  position: absolute;
  left: 15px;
  right: 15px;
  font-size: 0;
}

.item-price_buy .btn {
  margin-right: 0px;
}

/*ИНТЕРЕСНО А КАК ОНИ СДЕЛАЛИ ТУТ??? Я СНАЧАЛА СДЕЛАЛ под кнопку купить бэкграунд чорный до конца... НО ПОЛУЧАЕТСЯ НА МАКЕТЕ НЕ ТАК!!! ПЕРЕДЕЛАЛ ЧЕРЕЗ MIN-WIDTH У СЕРОЙ КНОПКИ!!*/



.shop-pages {
  padding: 10px;
  font-size: 0;
}

.pages-num {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 7px;
  border: 0;
  background: black;
  
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.pages-num:hover,
.pages-num:active {
  background: #663d15;
}

.current_pagenum {
  color: black;
  background: white;
}

.current_pagenum:hover,
.current_pagenum:active {
  background: white;
}


.nav_breadcumbs {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  
  list-style: none;
  font-size: 0;  
}

.nav_breadcumbs a {
  color: black;
  text-decoration: none;
}

.nav_breadcumbs a:hover {
  text-decoration: underline;
}

.nav_breadcumbs li {
  position: relative;
  display: inline-block;  /*можно было просто ИНЛАЙН сделать тут же не нада ВЕРТИК МАРГИНЫ-ПАДДЫ ТАК ЧТО!!*/
  vertical-align: top;
  margin-right: 40px;
  
  font-size: 14px;
}

.nav_breadcumbs li::before {
  position: absolute;
  top: 8px;
  left: -24px;
  
  content: "";
  
  display: block;
  width: 7px;
  height: 7px;
  background: black;
  transform: rotate(45deg);
}

.nav_breadcumbs li:last-of-type {
  margin-right: 0;
  color: #aba9a7;
}

.nav_breadcumbs li:first-of-type::before {
  display: none;
}

.inner-content h2 {   /*ВОТ СНАЧАЛА ОН ДЕЛАЕТ ДЛЯ ВСЕХ СРАЗУ ТУТ ВНУТРЕННИХ ТИПА*/
  margin-top: 60px;
  margin-bottom: 30px;
  
  font-size: 24px;
  line-height: 30px;
}

.inner-content p {
  margin: 14px 0;
}

.inner-content table {
  border-collapse: collapse;  
}

.inner-content td {     /*ТАК РЕАЛЬНО УДАЧНЕЕ ПОТОМУ ЧТО ТАБЛИЧКА ТО МОЖЕТ БЫТЬ И В ДРУГИХ ТЭГАХ ВЛОЖЕННА А Я СНАЧАЛА СДЕЛАЛ ЧТО ТОЛЬКО В QUARTRBLOCK ЗАДАЁТСЯ СТИЛЬ ТАБЛИЧКИ!!!ы*/
  padding: 10px 15px;
  
  border: 2px solid black;
}

.big-heading {
  margin-top: 55px;
  margin-bottom: 65px;
  position: relative;
  z-index: 1;
  text-align: center;
}

.big-heading h2 {
  display: inline; /*у меня кстати со спанами этого не нада было!!*/
  margin: 0; /*у меня кстати со спанами этого не нада было!!*/
  padding: 0 26px;
  background: #f8f5f2 url("../img/background-light.png");
  
  font-size: 48px;
  line-height: 68px;
}

.big-heading::before {
  position: relative; 
  top: 34px; /*ТУТ ИМЕННО НУЖНО RELATIVE ЮЗАТЬ Я ДЕЛАЛ ЧЕРЕЗ АБСОЛЮТ УКАЗЫВАЯ ВСЕ КООРДИНАТЫ НО ГОВОРЯТ ТАК БУДЕТ СЛОЖНО СДЕЛАТЬ РЕЗИНУ ПОТОМ!!!!!!!!!!!!!!!!!!!!!! */
  z-index: -1;

  display: block; 
  border-top: 2px solid black;  
  content:"";
}

/*  ОСТАВИЛ КАК ПРИМЕР КАК Я МУТИЛ С БЛОКАМИ!!!!
.price-highlightsblock {
  font-size: 0px;
  line-height: 0px;   БЛЯТЬ!!! оказалось что LINE HEIGHT у BODY делал тут отступы по горизонтали между элементами!!!  
}
*/

.inner-columns {
  margin: 60px 0 0; /*добавил ещё 0 чтоб не уползад вниз сильно футер!!!*/
}

.inner-column-left,
.inner-column-right {
  width: 460px;
}

.inner-column-left {
  float: left;
}

.inner-column-right {
  float: right;
}

.inner-columns .short_text {
  padding-right: 80px;
}



/*ИНТЕРЕСНАЯ ТЕМА КАК УБРАТЬ ОТСТУПА ОТ ПЕРВЫХ И ПОСЛЕДНИХ ЭЛЕМЕНТОВ!!!*/

.inner-column-left *:first-child, 
.inner-column-right *:first-child {
  margin-top: 0;
}

.inner-column-left *:last-child, 
.inner-column-right *:last-child {
  margin-bottom: 0;
}


.custom_list1 {
  margin: 14px 0;
  padding: 0;
  
  list-style: none;
}

.custom_list1 li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 20px;
}

.custom_list1 li::before {
  position: absolute;
  top: 8px;
  left: 0;
  
  content: "";
  
  display: block;
  width: 7px;
  height: 7px; 
  background: black;
  transform: rotate(45deg);
}


.prices-table {  
  width: 100%;
}

.prices-table td {
  width: 50%;
}

.prices-table td:nth-child(even) {
  text-align: center;
}






.main-footer {
  margin-top: 65px; /* в отличии от верхних блоков где -bottom юзается тут ТОП чтоб отталкивался он от низа типа!! */
  padding-top: 60px;
  padding-bottom: 40px;
  
  color: white; /*лучше явно прописать для всего футера!!*/
  
  background: #242424 url("../img/background-footer.png");
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-contacts a {
  color: white;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;
  
  text-align: center; 
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  
  font-size: 0px;  /*прячем текста с названиями соцсетей!*/
  vertical-align: top;
  text-decoration: none;
  
  background: black url("../img/sprite.png") no-repeat center;
  
  transition: /*но у меня не работает ПОТОМУ ЧТО Я МЕНЯЮ ЧЕРЕЗ CSS ЦВЕТА У КНОПОК СОЦСЕТЕЙ!!!*/
    background-position 0.5s,
    background-color 0.5s;
}

.social-btn:hover {
  -webkit-filter: invert(100%);   /*можно было как учитель предлагал сделать в спрайте отдельные картинки и менять background-position + color!!*/
}

.social-btn-vk {
  background-position: -11px -22px;
}

.social-btn-fb {
  background-position: -5px -62px;
}

.social-btn-inst {
  background-position: -8px -103px;
}

.footer-copyright {
  float: right;
  max-width: 180px;
}

.footer-copyright p {
  margin-top: 0;
  margin-bottom: 15px;
  
  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}

.modal-content {
  display: none;
  position: absolute;
  top: 120px;
  left: 50%;
  
  width: 300px;
  margin-left: -230px;
  padding: 50px 80px; 
  color: black;
  background: #f8f3f0 url("../img/background-light.png");
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  
  width: 766px;
  height: 561px;
  margin-top: -280px;
  margin-left: -390px;
  
  background: #e9e5dc url("../img/map.png");
  border: 7px solid white;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  
  width: 100%;
  height: 100%;
  
  background: rgba(0, 0, 0, 0.5);
}

.modal-content-close {
  position: absolute;
  top: 0;
  right: -34px;
  
  width: 22px;
  height: 22px;
  
  font-size: 0;
  
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-content h2 {
  margin: 0;
  margin-bottom: 20px;
  
  font-size: 30px;
  line-height: 42px;
}

.modal-content p {
  margin: 0;
  margin-bottom: 14px;
}

.modal-content .login-form {
  margin-top: 30px;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 236px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-right: 40px;
  
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: black;
  text-transform: uppercase;
  
  background-color: #f9f6f3;
  border: 2px solid black;
  outline: none;
}

.login-form input.icon-user {
  background: url("../img/sprite.png") no-repeat 240px -143px; 
}

.login-form input.icon-password {
  background: url("../img/sprite.png") no-repeat 240px -177px; 
}

.login-form .restore {
  float: right;
  color: black;
}

.login-form .btn {
  width: 100%;
  margin-top: 15px;
}

.login-checkbox {
  position: relative;
  
  padding-left: 30px;
  
  cursor: pointer;
}

.login-checkbox input[type="checkbox"] {
  display: none;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  
  width: 17px;
  height: 17px;
  
  border: 2px solid black;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  
  width: 15px;
  height: 2px;
  background: black;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

